/MaxPointsParticipants/build/
MaxPointsParticipants/.idea/compiler.xml
MaxPointsParticipants/.idea/encodings.xml
MaxPointsParticipants/.idea/externalDependencies.xml
MaxPointsParticipants/.idea/jarRepositories.xml
MaxPointsParticipants/.idea/misc.xml
MaxPointsParticipants/.idea/modules.xml
MaxPointsParticipants/.idea/vcs.xml
MaxPointsParticipants.iml
